<h1>Welcome To SKA Museums</h1>

<% if @museums.any?() %>
<p>Click on a museum to see its art:</p>

<ul>
  <% @museums.each do |museum| %>
  <li><a href="/museum/<%= museum.id() %>"><%= museum.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no museums yet, add one below.</p>
<% end %>

<form action="/museums" method="post">
  <label for="museum_name">Assign a name to your new museum:</label>
  <input name="museum_name" type="text">

  <button type="submit">Add museum</button>
</form>

<p> Add an art piece to a museum<p>

<form action="/artwork" method="post">
  <label for="museum_id">Select a museum</label>
  <select name='museum_id' type='text'>
    <% @museums.each() do |museum| %>
    <option value="<%= museum.id()%>"> <%= museum.name() %> </option>
    <% end %>
  </select>


  <label for="artwork_name">Name of artwork:</label>
  <input name="artwork_name" type="text">
  
  <label for="artwork_description">Description of the piece:</label>
  <input name="artwork_description" type="text">
  <button type="submit">Add Artwork</button>
</form>